* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    width: 100%;
    text-decoration: none;
}

body {
    background-color: #727e82;
}
/*----------navbar------------*/

.navbar {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.navbar-act {
    list-style: none;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navbar-blue {
    list-style: none;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    color: turquoise;
}

.navbar-act:hover {
    color: turquoise;
}


/*-----------Bouton refresh-------------*/

.refresh {
    width: 150px;
    height: 40px;
    margin-left: 5%;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
}

.refresh:hover {
    color: turquoise;
}

/*-----Conteneur d'étapes-----*/

.act {
    width: 100%;
}

.etape-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.etape {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60%;
    min-height: 50px;
    background-color: black;
    border: solid 0.1px grey;
    padding-left: 10px;
    flex-wrap: wrap;
}


.etape:hover {
    font-size: 20px;
    cursor: pointer;
}

/*-------Couleurs pour les étapes du leveling------*/

p {
    color: #727e82;
    white-space: wrap;
}

.blue {
    color: #0330fc;
    font-size: 18px;
    font-weight: bold;
    white-space : wrap;
}

.cyan {
    color: #03d3fc;
    font-size: 18px;
    font-weight: bold;
    white-space : wrap;
}

.orange {
    color:#fc9003 ;
    font-size: 18px;
    font-weight: bold;
    white-space : wrap;
}

.trial {
    color: #03fc45;
    font-size: 18px;
    font-weight: bold;
    white-space : wrap;
}

.green {
    color: #00a808;
    font-size: 18px;
    font-weight: bold;
    white-space : wrap;
}

.white {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    white-space : wrap;
}


/*Classes visible et invisible pour le script*/

.visible {
    opacity: 1;
}

.invisible {
    opacity: 40%;
}

/*Mobile settings*/

@media(max-width: 740px) {
    .etape {
        width: 100%;
    }

    .refresh {
        margin-bottom: 10px;
    }

    .navbar-act {
        font-size: 18px;
    }
}