* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    width: 100%;
    text-decoration: none;
}

body {
    background-color: #727e82;
}
/*----------navbar------------*/

.navbar {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.navbar-act {
    list-style: none;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navbar-act:hover {
    color: turquoise;
}

/*-----Conteneur d'étapes-----*/
.act {
    width: 100%;
}

.etape-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.etape {
    display: flex;
    flex-direction:row;
    align-items: center;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60%;
    padding: 8px;
    background-color: black;
    height: 50px;
    border: solid 0.1px grey;
}

.etape:hover {
    font-size: 22px;
    cursor: pointer;
}

/*-------Couleurs pour les étapes du leveling------*/

p {
    color: #727e82;
}

.blue {
    color: #0330fc;
    font-size: 18px;
    font-weight: bold;
}

.cyan {
    color: #03d3fc;
    font-size: 18px;
    font-weight: bold;
}

.orange {
    color:#fc9003 ;
    font-size: 18px;
    font-weight: bold;
}

.trial {
    color: #03fc45;
    font-size: 18px;
    font-weight: bold;
}

.green {
    color: #00a808;
    font-size: 18px;
    font-weight: bold;
}

.white {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}


/*Classes visible et invisible pour le script*/

.visible {
    opacity: 1;
}

.invisible {
    opacity: 40%;
}